@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

body {
  margin: 0;
  font-family: "Fira Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
